@{
    ViewBag.Title = "DKKY";
    Layout = "_JavaScript_Layout.cshtml";
}



<div class="row text-center" style="width:100%">
    <div style="width:50%; float:none; margin:0 auto">
        <h1>JavaScript</h1>
        <br />
        <h6> - 정적인 HTML을 동적으로 사용하기 위해 탄생</h6>
        <h6> - 초기이름은 Mocha 였음</h6>
        <h6> - Java가 바다코끼리라면 JavaScript는 바다사자(전혀 연관없음)</h6>
        <h6> - 미국의 넷스케이프 커뮤니케이션즈사 개발한 스크립트 언어</h6>
        <h6> - 클래스 기반 객체 지향 언어</h6>
        <h6> - 상속과 클래스 개념 없음</h6>
        <h6> - WEB을 풍부하게 만들어주는 작고 가벼운 언어</h6>
        <h6> - WEB 문서의 내용을 동적으로 바꾸거나 각종 이벤트 적용 가능</h6>
        <h6> - HTML문서 내에 기술되고 HTML 문서와 함께 수행</h6>
        <h6> - CSS 및 HTML 엘리먼트 스타일 변경 가능</h6>
        <h6> - 마우스와 키보드 이벤트에 대한 스크립트 실행</h6>
        <h6> - 웹 브라우저 제어 , 쿠키 등의 설정과 조회</h6>
        <h6> - AJAX 기술을 이용한 웹 서버와의 비동기 통신</h6>
        <h6> - 컴파일 과정이 없기 때문에 다른 언어와 비교했을 때 빠른 시간안에 스크립트 코드 작성</h6>
        <h6> - HTML 소스와 함께 작성되면서 소스가 외부로 공개(보안 취약)</h6>
    </div>
</div>

