@{
    ViewBag.Title = "DKKY";
    Layout = "_JavaScript_Layout.cshtml";
}



<div class="row text-center" style="width:100%">
    <div style="width:50%; float:none; margin:0 auto">
        <h1>JavaScript 탄생</h1>
        <h6> - 정적인 HTML을 동적으로 사용하기 위해 탄생</h6>
        <h6> - 초기이름은 Mocha 였음</h6>
        <h6> - Brendan Erich(브랜든 아이크)가 만듬</h6>
        <h6> - Java가 바다코끼리라면 JavaScript는 바다사자(전혀 연관없음)</h6>
        <h6> - WEB 문서의 내용을 동적으로 바꾸거나 각종 이벤트 적용 가능</h6>
    </div>
</div>


<br />
<br />


<div class="row text-center" style="width:100%">
    <div style="width:30%; float:none; margin:0 auto">
        <h1>JavaScript1</h1>
        <span>ddfdfdfdfdf</span>
    </div>
</div>