@{
    ViewBag.Title = "DKKY";
    Layout = "_Core_Layout.cshtml";
}


<div class="row text-center" style="width:100%">
    <div style="width:50%; float:none; margin:0 auto">
        <h1>ASP.NET Core</h1>
        <br />
        <h6> - 최신 웹 응용프로그램을 제작할 수 있는 오픈 소스 프레임워크</h6>
        <h6> - ASP.NET FrameWork 와는 다른 버전</h6>
        <h6> - ASP -> ASP.NET FrameWork -> ASP.NET Core</h6>
        <h6> - 경량화 및 모듈화된 HTTP 파이프라인</h6>
        <h6> - IIS 또는 Self Host 가능</h6>
        <h6> - 모든 기능 NuGet 패키지를 통해 생성가능</h6>
        <h6> - Window , Mac , Linux 호환 가능 (크로스플랫폼)</h6>
        <h6> - MS에서 밀고있음</h6>
    </div>
</div>