@{
    Layout = "_Core_Layout.cshtml";
}


<div class="row text-center" style="width:100%">
    <div style="width:50%; float:none; margin:0 auto">
        <h1>LINQ</h1>
        <br />
        <h6> - Language Integrated Query 약어 , 질의로 통홥된 언어</h6>
        <h6> - 데이터에 대해 질문하는 언어</h6>
        <h6> - 일반적으로 정렬, 검색 및 필터링에 사용</h6>

    </div>
</div>