@{
    ViewBag.Title = "DKKY";
    Layout = "_Charp_Layout.cshtml";
}


<div class="row text-center" style="width:100%">
    <div style="width:50%; float:none; margin:0 auto">
        <br />
        <h4>  C# 조건문 </h4>
        <p>C# 에는 변수에 사용할 수 있는 연산자가 몇 가지 있습니다. </p>
        <br />
        <br />




    </div>
</div>