@{
    ViewBag.Title = "DKKY";
    Layout = "_Charp_Layout.cshtml";
}


<div class="row text-center" style="width:100%">
    <div style="width:50%; float:none; margin:0 auto">
        <h1>C#</h1>
        <br />
        <h6> - 완벽한 객체지향언어</h6>
        <h6> - 메모리 자동 관리 (Garbage Collection)</h6>
        <h6> - 문법이 엄격함</h6>
        <h6> - 최고의 IDE Visual Studio 존재</h6>
        <h6> - C++ , Java의 장점 혼합한 완성체 언어</h6>
    </div>
</div>