@{
    ViewBag.Title = "DKKY";
    Layout = "_Charp_Layout.cshtml";
}


<div class="row text-center" style="width:100%">
    <div style="width:50%; float:none; margin:0 auto">
        <br />
        <h4>  C# 반복문 </h4>
        <p>조건문은 특정 조건이 만족하면 조건문의 대괄호 안에있는 코드를 수행하라고 정의하는 것 입니다. </p>
        <br />
        <br />







    </div>
</div>